// copied from https://github.com/jenkinsci/docker/blob/master/init.groovy


import hudson.model.*;
import jenkins.model.*;


Thread.start {
      sleep 10000
      println "--> setting agent port for jnlp"
      def env = System.getenv()
      int port = {{ jenkins_slave_agent_port }}
      Jenkins.instance.setSlaveAgentPort(port)
      println "--> setting agent port for jnlp... done"
}
